$primary: #4285f4;
$secondary: #ff9b0c;
$blue: #0a49ae;
$default: #555555;
$white: #ffffff;
$primarylight: #f5f9ff;
// $primary: "[theme:themePrimary, default: #0078d4]";
// $secondary: "[theme:themeSecondary, default: #2b88d8]";
// $blue: "[theme:themePrimary, default: #2b88d8]";
// $white: "[theme:white, default: #ffffff]";
// $primarylight: "[theme:themeLighter, default: #cbeccb]";
$orange: #fabc05;
$black: #000000;
$small: 11px;
$medium: 12px;
$large: 14px;
$commandBarProps: rgb(59, 58, 57);
$ms-themePrimary: '[theme:themePrimary, default: #0078d4]';
$ms-themeBlack: '[theme:black, default: #000000]';
$ms-neutralLight: '[theme:neutralLight, default: #cbeccb]';
$ms-neutralLighterAlt: '[theme:neutralLighterAlt, default: #cbeccb]';
$ms-neutralDark: '[theme:neutralDark, default: #f4f4f4]';
